// Globals
body {
    margin: 0;
}
body * {
    font-family: 'Roboto', sans;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

// module section
section.main-section {
    padding: 50px 20px;
}
.section-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

// module button
.btn {
    line-height: 50px;
    padding: 0 19px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to top, $color-purple, $color-pink);
    transition: ease 0.3s;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

// module card
.card {
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    &__title {
        font-size: 18px;
        font-weight: 500;
    }
    &__subtitle {
        font-size: 15px;
        font-weight: 300;
    }
    &--shadow {
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    }
}

// background section
.bg-grey {
    background-color: $color-light-grey;
}