

.page-header {
    text-align: center;
    background: #EAEAEA;
    &__banner {
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        background: #ffffff;
        &__previous-link {
            font-size: 30px;
            line-height: 64px;
            position: absolute;
            left: 20px;
        }
        &__logo {
            height: 36px;
            margin: 14px;
        }
        &__title {
            display: none;
        }
    }
    &__location {
        margin: 0;
        font-weight: 500;
        line-height: 50px; height: 50px;
        color: $color-dark-grey;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        &__icon {
            margin-right: 17px;
        }
    }
}