// header
// ######

.page-header {
    text-align: center;
    &__banner {
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        position: relative; // needed to display shadow in front of next block
        z-index: 20;
        @media screen and (min-width: $breakpoint_mobile) {
            height: 100px;
        }
        &__previous-link {
            font-size: 30px;
            position: absolute;
            left: 20px;
        }
        &__logo {
            height: 36px;
        }
        &__title {
            display: none;
        }
        @media screen and (min-width: $breakpoint_mobile) {
            box-shadow: unset;
        }
    }
    &__location {
        margin: 0;
        font-weight: 500;
        line-height: 50px; height: 50px;
        color: $color-dark-grey;
        background: #EAEAEA;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        position: relative; // needed to display shadow in front of next block
        z-index: 10;
        &__icon {
            margin-right: 17px;
        }
        @media screen and (min-width: $breakpoint_mobile) {
            box-shadow: unset;
        }
    }
}