// section process
// ###############

.process {
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    @media screen and (min-width: $breakpoint_mobile) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1080px;
        margin: 0 auto;
    }
    &__title {
        @media screen and (min-width: $breakpoint_mobile) {
            grid-column: 1 / span 3;
        }
    }
    &__button {
        border: 0;
        background: none;
        display: flex;
        align-items: center;
        &__number {
            width: 24px; height: 24px;
            line-height: 24px;
            background-color: $color-purple;
            border-radius: 50%;
            color: #ffffff;
            font-weight: 500;
            font-size: 14px;
            margin-right: -12px;
            z-index: 1; // to be in front of __description block
        }
        &__description {
            text-align: left;
            border-radius: 20px;
            padding: 20px 30px;
            font-size: 16px;
            font-weight: 500;
            flex: 1;
            &__icon {
                margin-right: 30px;
                color: #7e7e7e;
                font-size: 19px;
            }
        }
    } 
}