// restaurant page
// ###############
// header is same as index : page-header

// animation for each menu part
@keyframes show-menu-part {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.restaurant {
    &__header {
        background-size: cover;
        background-position: center center;
        padding-top: 275px;
        &--a-la-francaise {
            background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        }
        &--la-palette-du-gout {
            background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
        }
        &--le-delice-des-sens {
            background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
        }
        &--la-note-enchantee {
            background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
        }
        &__title {
            border-radius: 40px 40px 0 0;
            padding: 40px 17px 0 17px; margin: 0;
            display: flex;
            justify-content: space-between;
            font-family: 'Shrikhand';
            font-size: 28px;
            font-style: italic;
            font-weight: 400;
            &__favicon {
                margin-right: 10px;
                svg {
                    height: 35px;
                }
            }
            @media screen and (min-width: $breakpoint_mobile) {
                max-width: 1055px;
                margin: 0 auto;
                justify-content: center;
                gap: 30px;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 10px;
        align-items: center;
        @media screen and (min-width: $breakpoint_mobile) {
            max-width: 1055px;
            margin: 0 auto;
            gap: 30px;
        }
        &__part {
            display: flex;
            flex-direction: column;
            gap: 12px;
            animation: show-menu-part 0.5s ease-out; // animate each menu part (different delay for each part)
            animation-fill-mode: both;
            width: 100%;
            max-width: 650px;
            &--entrees {
                animation-delay: 0.5s;
            }
            &--plats {
                animation-delay: 1s;
            }
            &--desserts {
                animation-delay: 1.5s;
            }
            &__title {
                padding-bottom: 5px;
                margin: 0;
                border-bottom: 3px solid $color-light-green;
                max-width: 40px;
                overflow: visible;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;

            }
            &__receipe {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 1fr min-content;
                padding: 15px;
                box-sizing: border-box;
                gap: 5px;
                &__title {
                    margin: 0;
                    overflow: hidden; // overflow / text-overflow / white-space are used to show "..." if texte is over the container size
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__subtitle {
                    grid-row: 2 / span 1;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__price-and-checked {
                    grid-column: 2/ span 1;
                    grid-row: 1 / span 2;
                    display: grid;
                    gap: 5px;
                    width: 30px;
                    grid-template-columns: 30px 60px;
                    grid-template-rows: 1fr 1fr;
                    transition: ease 0.3s;
                    &__price {
                        margin: 0;
                        grid-row: 2 / span 1;
                    }
                    &__checked {
                        grid-column: 2 / span 1;
                        grid-row: 1 / span 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color-light-green;
                        margin: -15px -15px -15px 15px;
                        &__icon {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }
                &:hover > &__price-and-checked {
                    width: 90px; // not the best performances => look for another solution
                }
            }
        }
        &__btn {
            align-self: center;
        }
    }
}