// svg style
// fav heart with animation on :hover

// linear gradient
#svg-lin-grad {
    .heart-icon__lin-grad__top {
        stop-color: $color-purple;
    }
    .heart-icon__lin-grad__bottom {
        stop-color: $color-pink;
    }
}

.heart-icon {
    // initial state
    &__heart {
        fill: #ffffff;
        stroke-width: 3;
        &:hover {
            cursor: pointer;
        }
        &:hover + .heart-icon__heart-bg {
            transform: translateY(0%);
            cursor: pointer;
        }
        &--bg-grey {
            fill: $color-light-grey;
        }
    }
    // colored heart
    &__heart-bg {
        fill: url('#svg-lin-grad');
        transform: translateY(-80%);
        transition: ease 0.3s;
        &:hover {
            transform: translateY(0%);
            cursor: pointer;
        }
    }
    // hide __heart-bg outsite the __heart area
    &__heart-around {
        fill: #ffffff;
        &--bg-grey {
            fill: $color-light-grey;
        }
    }

}