// Colors
// Primary colors
$color-purple: #9356DC;
$color-pink: #FF79DA;
// Secondary colors
$color-dark-green: #008766;
$color-light-green: #99E2D0;
// Backgrounds
$color-light-grey: #F6F6F6;
$color-dark-grey: #353535;

// Other vars
// Breakpoints
$breakpoint_mobile: '767px';
$breakpoint_tablet: '1023px';