// Colors
$color-purple: #9356DC;
$color-dark-blue: #003A68;
$color-light-blue: #89C8FA;
$color-dark-green: #008766;
$color-light-green: #99E2D0;

$color-pink: #FF79DA;

$color-light-grey: #F6F6F6;
$color-dark-grey: #353535;


// Breakpoints
$breakpoint_mobile: '767px';
$breakpoint_tablet: '1023px';