#svg-lin-grad .heart-icon__lin-grad__top {
  stop-color: #9356DC;
}
#svg-lin-grad .heart-icon__lin-grad__bottom {
  stop-color: #FF79DA;
}

.heart-icon__heart {
  fill: #ffffff;
  stroke-width: 3;
}
.heart-icon__heart:hover {
  cursor: pointer;
}
.heart-icon__heart:hover + .heart-icon__heart-bg {
  transform: translateY(0%);
  cursor: pointer;
}
.heart-icon__heart--bg-grey {
  fill: #F6F6F6;
}
.heart-icon__heart-bg {
  fill: url("#svg-lin-grad");
  transform: translateY(-80%);
  transition: ease 0.3s;
}
.heart-icon__heart-bg:hover {
  transform: translateY(0%);
  cursor: pointer;
}
.heart-icon__heart-around {
  fill: #ffffff;
}
.heart-icon__heart-around--bg-grey {
  fill: #F6F6F6;
}

body {
  margin: 0;
}

body * {
  font-family: "Roboto", sans;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

section.main-section {
  padding: 50px 20px;
}

.section-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.btn {
  line-height: 50px;
  padding: 0 19px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  transition: ease 0.3s;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}
.card__title {
  font-size: 18px;
  font-weight: 500;
}
.card__subtitle {
  font-size: 15px;
  font-weight: 300;
}
.card--shadow {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.bg-grey {
  background-color: #F6F6F6;
}

@keyframes loader-end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes loader-bg-appear {
  0% {
    transform-origin: 0 0;
    transform: scaleY(0) scaleX(1);
  }
  50% {
    transform: scaleY(1) scaleX(0.5);
    transform-origin: bottom;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: scaleY(0) scaleX(1);
    opacity: 0;
  }
}
@keyframes loader-card-appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    animation-timing-function: ease-out;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  animation: loader-end 0.6s 3s;
  animation-fill-mode: both;
}
.loader__content {
  position: relative;
  z-index: 1020;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.loader__content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #99E2D0;
  animation: loader-bg-appear 2s 0.5ms ease-in-out;
  animation-fill-mode: both;
}
.loader__content__card {
  padding: 0 0 0 30px;
  display: grid;
  grid-template-columns: auto 60px;
  animation-fill-mode: both;
}
.loader__content__card__title {
  padding: 20px;
  margin: 0;
  align-self: center;
}
.loader__content__card__checked {
  color: #ffffff;
  font-size: 40px;
  margin: 0;
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__content__card--entree {
  animation: loader-card-appear 0.6s 0.6s;
  animation-fill-mode: both;
}
.loader__content__card--plat {
  animation: loader-card-appear 0.6s 1.2s;
  animation-fill-mode: both;
}
.loader__content__card--dessert {
  animation: loader-card-appear 0.6s 1.8s;
  animation-fill-mode: both;
}

.page-header {
  text-align: center;
  background: #EAEAEA;
}
.page-header__banner {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
@media screen and (min-width: 767px) {
  .page-header__banner {
    height: 100px;
  }
}
.page-header__banner__previous-link {
  font-size: 30px;
  position: absolute;
  left: 20px;
}
.page-header__banner__logo {
  height: 36px;
  margin: auto;
}
.page-header__banner__title {
  display: none;
}
@media screen and (min-width: 767px) {
  .page-header__banner {
    box-shadow: unset;
  }
}
.page-header__location {
  margin: 0;
  font-weight: 500;
  line-height: 50px;
  height: 50px;
  color: #353535;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.page-header__location__icon {
  margin-right: 17px;
}
@media screen and (min-width: 767px) {
  .page-header__location {
    box-shadow: unset;
  }
}

.cta-explore {
  text-align: center;
}
@media screen and (min-width: 767px) {
  .cta-explore__title {
    font-size: 40px;
  }
}
.cta-explore__description {
  font-size: 18px;
  font-weight: 300;
}

.process {
  display: grid;
  gap: 20px;
  grid-template-columns: 100%;
}
@media screen and (min-width: 767px) {
  .process {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1080px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  .process__title {
    grid-column: 1/span 3;
  }
}
.process__button {
  border: 0;
  background: none;
  display: flex;
  align-items: center;
}
.process__button__number {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  margin-right: -12px;
  z-index: 2;
}
.process__button__description {
  text-align: left;
  border-radius: 20px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}
.process__button__description__icon {
  margin-right: 30px;
  color: #7e7e7e;
  font-size: 19px;
}

.restaurants-list__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
@media screen and (min-width: 767px) {
  .restaurants-list__inner {
    max-width: 1080px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
.restaurants-list__inner__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) {
  .restaurants-list__inner__title {
    grid-column: 1/span 2;
  }
}
.restaurants-list__inner__card {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.restaurants-list__inner__card__new {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  margin: 10px 10px 0 0;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 7px 9px;
  border-radius: 2px;
  z-index: 20;
}
.restaurants-list__inner__card__img {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  z-index: 10;
}
.restaurants-list__inner__card__title {
  grid-column: 1/span 1;
  margin: 10px 0 0 10px;
}
.restaurants-list__inner__card__location {
  margin: 0 0 10px 10px;
  grid-column: 1/span 1;
  font-size: 17px;
}
.restaurants-list__inner__card__favicon {
  align-self: center;
  text-align: center;
  grid-row: 3/span 2;
  grid-column: 2/span 1;
}
.restaurants-list__inner__card__favicon svg {
  height: 30px;
}

.page-footer {
  background: #353535;
  padding: 20px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
}
@media screen and (min-width: 1023px) {
  .page-footer {
    padding: 80px 80px 30px 80px;
    grid-template-columns: repeat(5, max-content);
    grid-auto-flow: row dense;
    justify-content: end;
    gap: 20px;
  }
}
.page-footer__logo {
  filter: invert(1);
  height: 24px;
  margin-bottom: 9px;
}
@media screen and (min-width: 1023px) {
  .page-footer__logo {
    grid-column: 5/span 1;
    margin-left: 50px;
    margin-bottom: 0;
  }
}
.page-footer__link__icon {
  width: 30px;
}

@keyframes show-menu-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurant__header {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 275px;
}
.restaurant__header__cover {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
  overflow: hidden;
}
.restaurant__header__title {
  border-radius: 40px 40px 0 0;
  padding: 40px 17px 0 17px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}
.restaurant__header__title__favicon {
  margin-right: 10px;
}
.restaurant__header__title__favicon svg {
  height: 35px;
}
@media screen and (min-width: 767px) {
  .restaurant__header__title {
    max-width: 1055px;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
  }
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 10px;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .restaurant__menu {
    max-width: 1055px;
    margin: 0 auto;
    gap: 30px;
  }
}
.restaurant__menu__part {
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: show-menu-part 0.5s ease-out;
  animation-fill-mode: both;
  width: 100%;
  max-width: 650px;
}
.restaurant__menu__part--entrees {
  animation-delay: 0.5s;
}
.restaurant__menu__part--plats {
  animation-delay: 1s;
}
.restaurant__menu__part--desserts {
  animation-delay: 1.5s;
}
.restaurant__menu__part__title {
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 3px solid #99E2D0;
  max-width: 40px;
  overflow: visible;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurant__menu__part__receipe {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr min-content;
  padding: 15px;
  box-sizing: border-box;
  gap: 5px;
}
.restaurant__menu__part__receipe__title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant__menu__part__receipe__subtitle {
  grid-row: 2/span 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant__menu__part__receipe__price-and-checked {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
  display: grid;
  gap: 5px;
  width: 30px;
  grid-template-columns: 30px 60px;
  grid-template-rows: 1fr 1fr;
  transition: ease 0.3s;
}
.restaurant__menu__part__receipe__price-and-checked__price {
  margin: 0;
  grid-row: 2/span 1;
}
.restaurant__menu__part__receipe__price-and-checked__checked {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
  transition: ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin: -15px -15px -15px 15px;
}
.restaurant__menu__part__receipe__price-and-checked__checked__icon {
  color: #ffffff;
  font-size: 20px;
}
.restaurant__menu__part__receipe:hover > .restaurant__menu__part__receipe__price-and-checked {
  width: 90px;
}
.restaurant__menu__btn {
  align-self: center;
}/*# sourceMappingURL=main.css.map */